@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/* Apply custom selection effect globally */
::selection {
  background: #fff; /* white background */
  color: #000; /* black text */
}
/* For Firefox */
::-moz-selection {
  background: #fff;
  color: #000;
}
/* Optional: Custom styles */
/* Regular font */
@font-face {
  font-family: "Gellix";
  src: url("/assets/fonts/gellix/Gellix-Regular.eot");
  src: local("Gellix Regular"), local("Gellix-Regular"),
    url("/assets/fonts/gellix/Gellix-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/gellix/Gellix-Regular.woff2") format("woff2"),
    url("/assets/fonts/gellix/Gellix-Regular.woff") format("woff"),
    url("/assets/fonts/gellix/Gellix-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gellix";
  src: url("/assets/fonts/gellix/Gellix-Medium.eot");
  src: local("Gellix Medium"), local("Gellix-Medium"),
    url("/assets/fonts/gellix/Gellix-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/gellix/Gellix-Medium.woff2") format("woff2"),
    url("/assets/fonts/gellix/Gellix-Medium.woff") format("woff"),
    url("/assets/fonts/gellix/Gellix-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gellix";
  src: url("/assets/fonts/gellix/Gellix-ExtraBold.eot");
  src: local("Gellix ExtraBold"), local("Gellix-ExtraBold"),
    url("/assets/fonts/gellix/Gellix-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/gellix/Gellix-ExtraBold.woff2") format("woff2"),
    url("/assets/fonts/gellix/Gellix-ExtraBold.woff") format("woff"),
    url("/assets/fonts/gellix/Gellix-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Gellix";
  src: url("/assets/fonts/gellix/Gellix-SemiBold.eot");
  src: local("Gellix SemiBold"), local("Gellix-SemiBold"),
    url("/assets/fonts/gellix/Gellix-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/gellix/Gellix-SemiBold.woff2") format("woff2"),
    url("/assets/fonts/gellix/Gellix-SemiBold.woff") format("woff"),
    url("/assets/fonts/gellix/Gellix-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
/* Set the default font for the whole app */
.font-gellix {
  font-family: "Gellix", sans-serif !important;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.font-extrabold {
  font-weight: 800;
}
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  color: #fff;
}
*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Gellix", Arial, Helvetica, sans-serif;
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-36px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
@keyframes small-bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(3px);
  } /* smaller movement, adjust as needed */
}
/* Mobile background image */
.bg-kone-mobile {
  background-image: url("/images/svg/mchip.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
}
/* Medium (md) and above: use chip.svg */
@media (min-width: 768px) {
  .bg-kone-mobile {
    background-image: url("/images/svg/chip.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
  }
}
/* Mobile background image */
.bg-kone-hero-mobile {
  background-image: url("/images/svg/mkoneHero.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
}
/* Medium (md) and above: use chip.svg */
@media (min-width: 768px) {
  .bg-kone-hero-mobile {
    background-image: url("/images/svg/koneHero.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOutUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}
.fade-in {
  animation: fadeInUp 0.2s ease-out forwards;
}
.fade-out {
  animation: fadeOutUp 0.3s ease-out forwards;
}
